* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-light: #f4f4f4;
    --color-dark: #525252;
    --color-black: #141415;
    --color-primary: #f24e1e;
    --color-primary-light: hsl(14, 89%, 53%, 12%);
    --color-success: #29f5a6;
    --color-warning: #ffce31;
    --color-secondary: rgba(255, 255, 255, 0.1);
    --background-color: #fff3f3;
    --transition: all 1s ease;
}

body {
    font-family: "poppins" sans-serif;
    min-height: 110vh;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    z-index: 999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
}

header .sticky {
    background: var(--color-primary);
}

.navbar {
    position: relative;
    width: 100vw;
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);
}

.navbar .logo {
    font-size: 0.8rem;
    border-bottom: 2px solid #141415;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: .5rem 1rem;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--color-dark);
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 600;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--color-warning);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.navbar .fa,
.navbar .fas {
    display: none;
}

@media(max-width:800px) {
    .navbar {
        text-align: center;
        width: 100%;
    }
    .navbar .logo {
        font-size: 0.8rem;
        border-bottom: 2px solid #141415;
    }
    .nav-links {
        display: block;
        width: 200px;
        height: 100vh;
        background: var(--color-primary);
        position: absolute;
        top: 0;
        left: -200px;
        text-align: left;
        z-index: 2;
        transition: var(--transition);
    }
    .nav-links ul li {
        margin-top: 2em;
        display: block;
        padding: 1em;
    }
    .nav-links ul a {
        color: var(--color-light) !important;
    }
    .navbar .fas {
        position: absolute;
        top: -1%;
        left: 81%;
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 2rem;
        cursor: pointer;
    }
    .navbar .fa {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        color: #1a1212;
        margin: 10px;
        font-size: 2rem;
        cursor: pointer;
    }
}


/* landing page */

.landing {
    margin: auto;
    width: 90%;
    margin-top: 4em;
    background-color: var(--color-light);
}

.landing-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 500;
}

.text-box span {
    color: var(--color-primary);
}

.text-box p {
    margin-top: 0.6em;
    text-align: justify;
}

.link-hero {
    display: inline-block;
    padding: 0.1em 0.7em;
    margin-top: 0.5em;
    margin-left: -5em;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    background: #ffce31;
    color: var(--color-light);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--color-primary);
    transition: var(--transition)
}

.link-hero:hover {
    color: var(--color-light);
    background-color: var(--color-primary);
}

.text-box .icons {
    position: relative;
    margin-left: -5em;
    margin-top: 1em;
}

@media(max-width:500px) {
    .text-box .icon {
        position: relative;
    }
    .icons a {
        display: inline-block;
        font-size: 20px !important;
        padding: 0px 10px !important;
    }
}

.icons a {
    display: inline-block;
    font-size: 40px;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    padding: 0px 28px;
    transition: all 0.4s ease-in;
}

.profile-area {
    padding: 1em;
}

.profile-area .outer-circle {
    width: 26rem;
    height: 26rem;
    border: 4px solid var(--color-primary);
    border-radius: 50%;
    position: relative;
    animation: spin 30s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.profile-area .outer-circle span {
    display: block;
    width: 4rem;
    height: 4rem;
    font-size: 2em;
    border-radius: 50%;
    position: absolute;
    background: var(--color-white);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem var(--color-primary-light);
}

.profile-area .outer-circle span:nth-child(1) {
    left: -2rem;
    top: 10rem;
}

.profile-area .outer-circle span:nth-child(2) {
    right: -2rem;
    top: 10rem
}

.profile-area .outer-circle span:nth-child(3) {
    left: 10rem;
    top: -2rem;
}

.profile-area .outer-circle span:nth-child(4) {
    bottom: -2rem;
    left: 10rem;
}

.profile-area .inner-circle {
    position: absolute;
    top: 8rem;
    margin-left: 2.7rem;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
}

.inner-circle img {
    width: 350px;
    height: 350px;
}

@media (max-width: 500px) {
    .profile-area .inner-circle {
        width: 12rem;
        height: 12rem;
    }
    .profile-area .outer-circle {
        width: 16rem;
        height: 16rem;
    }
    .inner-circle img {
        width: 100%;
        height: 100%;
    }
}

@media(max-width:999px) {
    .landing {
        flex-direction: column;
    }
}

@media (max-width: 420px) {
    .profile-area .inner-circle {
        margin-top: 6rem !important;
    }
}

@media (max-width:960px) {
    .profile-area .inner-circle {
        top: 30rem;
    }
}

@media(max-width:500px) {
    .landing {
        overflow-x: hidden;
    }
}


/* About page styling */

.about {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 2em;
    background-color: var(--color-primary-light);
}

.about h1 {
    font-size: 4rem;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3em;
}

.link-cv {
    display: inline-block;
    padding: 0.1em 0.7em;
    margin-top: 0.5em;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    background: #ffce31;
    color: var(--color-light);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--color-primary);
    transition: var(--transition)
}

.link-cv:hover {
    color: var(--color-light);
    background-color: greenyellow;
}

.about-content .my-image {
    position: relative;
    width: 40%;
}

.about-content img {
    width: 90%;
    height: 450px;
    margin-left: 5rem;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .about-content img {
        margin-left: 0px !important;
    }
    .layer {
        margin-left: 0px !important;
        width: 100% !important;
    }
    .layer h2 {
        left: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        font-size: 2.5rem !important;
    }
}

.layer {
    background-color: transparent;
    width: 90%;
    height: 450px;
    border-radius: 10px;
    margin-left: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer h2 {
    width: 30vw;
    font-weight: 500;
    color: #fff;
    font-size: 2.1rem;
    bottom: 0;
    transform: translate(-50% -50%);
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.layer:hover {
    background-color: rgba(226, 0, 0, 0.7);
}

.layer:hover h2 {
    bottom: 49%;
    opacity: 1;
}

.content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5rem;
    border-radius: 10px;
    line-height: 1.6rem;
    font-weight: 500;
    width: 40%;
    height: 450px;
}

@media (max-width: 500px) {
    .content-text {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .skills-content .right {
        width: 100% !important;
    }
}

.profile-area {
    overflow: hidden;
}

.content-text h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2rem;
}

.content-text p {
    margin-top: 1em;
}

@media(max-width:999px) {
    .about-content {
        flex-direction: column;
    }
    .about-content .my-image {
        width: 85%;
    }
    .about-content img {
        width: 85%;
        height: 450px;
        margin-left: 3.1rem;
    }
    .layer {
        width: 85%;
        height: 450px;
    }
    .layer h2 {
        position: absolute;
        margin-left: 3rem;
        font-size: 4rem;
        left: 10%;
    }
    .content-text {
        width: 73%;
        margin-left: 7em;
        margin-top: 1em;
        height: 450px;
    }
}


/* skills styling */

.skills {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    background: var(--color-light);
}

@media(max-width:999px) {
    .skills {
        width: 90%;
    }
}

@media(max-width:500px) {
    .skills-content {
        width: 100% !important;
        font-size: 0.5em;
    }
    .skills-content .left {
        padding: 0 3em;
    }
    .skills-content .right {
        padding: 0 3em;
    }
}

.skills .title {
    font-size: 2rem;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.skills-content .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 4rem;
}

.skills-content .left h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.skills-content .left p {
    line-height: 1.2em;
    font-size: 1.2rem;
    text-align: justify;
}

.skills-content .right {
    margin-bottom: 4rem;
    width: 50%;
    height: 200px;
}

.skills-content .right .bar {
    margin-bottom: 15px;
}

.skills-content .right .info {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills-content .right span {
    font-size: 18px;
    font-weight: 500;
}

.skills-content .right .line {
    width: 100%;
    height: 5px;
    background: lightgrey;
    position: relative;
}

.skills-content .right .line::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills-content .right .html::before {
    width: 80%;
}

.skills-content .right .css::before {
    width: 70%;
}

.skills-content .right .javascript::before {
    width: 50%;
}


/* service styling */

.theam {
    background: var(--color-primary-light);
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.theam .title {
    color: var(--color-primary);
    font-size: 2rem;
}

.service-center {
    display: flex;
    justify-content: space-between;
}

.service {
    margin: 1rem 0.5rem;
    flex-basis: 30%;
    color: var(--color-white);
    background: var(--color-dark);
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    transition: var(--transition);
}

.service span {
    color: cyan;
    font-size: 4rem;
    transition: var(--transition);
}

.service h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #ffce31;
}

.service p {
    font-size: 1.4rem;
    color: var(--color-white);
}

.service:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}


/* tesimonial styling */

.testimonials {
    background-color: var(--color-light);
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.testimonials .title {
    color: var(--color-primary);
    font-size: 2rem;
}

.testimonial-center {
    display: flex;
    justify-content: space-between;
}

.testimonial {
    flex-basis: 30%;
    border: 2px solid #ccc;
    background: var(--color-primary-light);
    padding: 2rem 0rem;
    border-radius: 1rem;
    margin: 3rem 3rem;
    text-align: center;
    position: relative;
    transition: var(--transition);
}

.testimonial:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.testimonial .image {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -3.5rem;
    right: calc(50% -5rem);
}

@media(max-width:999px) {}

@media(max-width:500px) {
    .testimonial .image img {
        width: 40% !important;
        height: 8vh !important;
    }
    .testimonial .image {
        top: -10% !important;
        right: calc(50% -5rem);
    }
    .testimonial p {
        margin-top: 1em !important;
    }
}

@media(max-width:768px) {
    .testimonial-center {
        flex-direction: column;
    }
}

.testimonial .image img {
    width: 30%;
    height: 15vh;
    border-radius: 50%;
}

.testimonial p {
    margin-top: 3em;
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;
}

.testimonial p::before {
    content: "\201C";
    position: relative;
    font-size: 50px;
    color: #007bff;
    bottom: -1.1rem;
    right: 5px;
}

.testimonial p::after {
    content: "\201D";
    position: relative;
    font-size: 50px;
    color: #007bff;
    bottom: -1.5rem;
    left: 5px;
}

.testimonial h2 {
    color: #007bff;
    font-size: 24px;
}

.testimonial .fa {
    margin-top: 0.5rem;
    color: #f44336;
}


/* contact styling */

.contact {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./image/campus-3.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 90%;
    padding: 3em 6em;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width:768px) {
    .contact {
        padding: 2.2em;
    }
    .container .contact-info .Box {
        padding: 10px 0;
    }
    .container {
        flex-direction: column;
    }
    .container .contact-info {
        margin-bottom: 1.5em;
    }
    .container .contact-info,
    .contact-form {
        width: 100% !important;
    }
}

.contact .content {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .content h2 {
    font-size: 3rem;
    font-weight: 300;
    color: var(--color-primary);
}

.contact .content p {
    font-weight: 300;
    font-size: 1.5rem;
    color: #fff;
    margin-top: 1em;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .Box {
    padding: 30px 0;
    display: flex;
}

.container .contact-info .Box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contact-info .Box .text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.container .contact-info .Box .text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contact-form {
    width: 40%;
    padding: 2.5em;
    background: #fff;
}

.contact-form h2 {
    font-size: 1.5rem;
    margin-top: -1.5em;
    text-align: center;
    color: var(--color-warning);
    font-weight: 500;
}

.contact-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
}

.contact-form textarea {
    width: 100%;
    border: 2px solid var(--color-primary);
    resize: none;
    padding: 12px 12px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    color: #333;
    font-size: 1.5rem;
    transform: translate(-20px);
}

.link-btn {
    background: #00bcd4;
    color: #333;
    font-weight: bold;
    padding: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 10px;
    transition: .5s ease-in;
}

.link-btn:hover {
    background: red;
    color: #fff;
}


/* scroll to top styling */

.scrollToTop-btn {
    z-index: 999;
    position: fixed;
    background: blue;
    color: var(--color-white);
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 80px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: var(--transition);
}

.scrollToTop-btn.active {
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}


/* footer styling */

footer {
    width: 100%;
    margin: auto;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #fff;
    padding: 50px 0 5px;
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 20px;
}

.col img {
    width: 80px;
    margin-bottom: 30px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copy-right {
    text-align: center;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 20px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

.col form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.col form .far {
    font-size: 18px;
    margin-right: 10px;
}

.col form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.col form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.col form button .fas {
    font-size: 16px;
    color: #ccc;
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}

@media(max-width:700px) {
    footer {
        bottom: unset;
    }
    .col {
        flex-basis: 100%;
    }
    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}